# =========================
# Build artifacts
# =========================
build/
bin/
out/
dist/

*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.ilk

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
compile_commands.json
CMakeUserPresets.json

# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj*
*.sln
*.user
*.filters
*.log

# =========================
# MinGW / GCC
# =========================
*.d
*.stackdump

# =========================
# GLFW / OpenGL runtime junk
# =========================
*.glslc
*.spv

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Sensitive configuration files
# =========================
config.json
chart_glfw/config.json

# =========================
# Editor junk
# =========================
.vscode/
.idea/
*.swp
*.swo
*.tmp
chart_glfw/x64/Debug/chart_glfw.exe.recipe
chart_glfw/x64/
third_party/TestCppClient/TestCppC.A2A869EF/x64/Debug/TestCppClientStatic.exe.recipe
third_party/TestCppClient/TestCppC.A2A869EF/x64/Debug/TestCppClientStatic.pch
third_party/TestCppClient/TestCppC.A2A869EF/
x64/
chart_glfw/scanner_parameters.xml
third_party/tws_api/
